*, body{
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
}

.header-social{
    background-color: #005C94;
    color: white;
}

header a{
    color: inherit;
}

header a:hover{
    color: inherit;
}

.navbar-collapse{
    flex-grow: inherit!important;
}

.navbar{
    box-shadow: none;
}

.navbar a{
    text-transform: uppercase;
}

.menu{
    background-color: white;
}

.navbar-nav .nav-item.active > .nav-link {
    background-color: inherit!important;
}

.inner{
    background-color: white;
}

.carousel-background:after{
    content: " ";
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.index-wrapper .header-content{
    bottom: initial;
    top: 30%;
    transform: translate(-50%,-50%);
}

.header-content{
    position: absolute !important;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    color: white;
    z-index: 99;
}

header .owl-carousel .item::after{
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.owl-carousel{
    overflow: hidden;
}

.btn-header{
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.item-name h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 4.5rem;
}

.item-info{
    max-width: 60%;
    margin-right: auto;
    padding-top: 50px;
}

.item-content{
    font-size: 0.875rem;
}

.filter{
    background-position: center;
    background-image: url('../img/bg-2.png');
    height: 100%;
}

.filter{
    color: white;
    text-align: center;
}

.filter h3{
    font-weight: 500;
}

.filter-content{
    z-index: 2;
}

.container{
    position: relative;
}

.background-filter:after{
    content: " ";
    display: block;
    background-color: #005C94;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.text-item-icons{
    font-size: 0.8125rem;
    color: #272727;
}

.btn-right-content{
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    max-width: 200px;
    text-align: center;
    background-color: transparent;
}

.btn-right-content-2{
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    max-width: 200px;
    text-align: center;
    background-color: transparent;
}

.left-side-content{
    max-width: 80%;
    color: #676767;
    line-height: 27px;
}

.left-side-number-2{
    font-size: 8rem;
    font-weight: bold;
    color: #08004A;
}

.title-item-icons{
    font-weight: 500;
    text-transform: uppercase;
}

.right-item-icons{
    max-width: 50%;
}

.left-side-undertitle-2{
    color: #EEEEEE;
    font-size: 1.25rem;
    font-weight: bold;
}

.left-side-title-2{
    font-weight: bold;
    font-size: 1.75rem;
}

.left-side-content-2{
    line-height: 30px;
}

.right-side-title-2{
    font-weight: bold;
    font-size: 1.25rem;
}

.right-side-undertitle-2{
    font-size: 1.125rem;
}

.banner{
    position: relative;
}

.banner .wrapper{
    background-image: url('../img/bg-2.png');
    height: 327px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.banner .wrapper:after{
    content: " ";
    display: block;
    background-color: #005C94;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.9;
    left: 0;
}

.item-banner{
    color: white;
    z-index: 2;
    line-height: 60px;
}

.title-banner-item{
    font-size: 5rem;
}

.undertitle-banner-item{
    text-transform: uppercase;
    font-size: 1.375rem;
}

.rectangle-background{
    width: 450px;
    height: 850px;
    display: block;
    background-color: #EEEEEE;
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -99;
}

.card:after{
    content: " ";
    display: block;
    background-color: #005C94;
    height: 100%;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.text-upper-cards{
    max-width: 60%;
}

.cards-background{
    background-image: url('../img/Nowy\ folder/Layer 2.png');
    background-repeat: no-repeat;
    background-position: top;
}

.card{
    height: 340px;
}

.card-title{
    text-transform: uppercase;
    font-weight: 500;
}

.upper-cards h2{
    font-size: 3rem;
    font-weight: 500;
}

.text-upper-cards{
    color: #676767;
}

.banner-content-2{
    position: absolute;
    top: 50%;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.left-side-banner{
    background-color: white;
}

footer{
    padding-top: 400px;
    font-size: 0.75rem;
}

.footer-content{
    z-index: 99;
    color: white;
}

footer ul{
    list-style: none;
    padding: 0;
}

.menu-footer{
    background-color: #2D2D2D;
    color: white;
}

.menu-footer .nav-link{
    color: white!important;
}

.copyright{
    background-color: black;
    color: white;
    font-size: 0.7rem;
}

.copyright a{
    color: white;
    transition: all 0.5s;
}

.copyright a:hover{
    color: #676767;
    transition: all 0.5s;
}

.copyright-left-side,
.copyright-left-side a{
    font-size: 0.7rem;
}

.copyright-right-side a{
    font-size: 0.7rem;
}

.contact-footer{
    font-size: 0.9rem;
}

.contact-footer li{
    font-size: 0.9rem;
}

.contact-footer a{
    color: inherit;
}

.contact-footer a:hover{
    color: inherit;
}

main{
    padding-top: 200px;
}

.filter{
    position: absolute;
    top: 70%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
}

.filter input{
    border-radius: 25px;
    border: 0;
    padding: .375rem 1.75rem .375rem .75rem;
    max-width: 20%;
    font-weight: 900;
}

.custom-select{
    border-radius: 25px!important;
}

h2{
    font-weight: 400;
}

.filter-button{
    max-width: 30%;
    margin: 0 auto;
    color: white;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: #08004A;
    padding: 0.4rem 1rem;
    border: 0;
}

.filter-area{
    max-width: 400px;
}

.filter-area div{
    font-weight: 500;
    font-size: 1.125rem;
}

.filter-area-width{
    max-width: 150px;
}

.filter-area-width .custom-select{
    max-width: 80px;
}

.custom-select{
    background: url('../img/Nowy\ folder/Group 27.png') no-repeat right #ffffff;
    -webkit-appearance: none;
    background-size: contain;
    font-weight: 900;
    background-origin: content-box;
    padding-right: 0.15rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
/**/
.social-wrapper{
    position: absolute;
    right: 0;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
}
/**/
.social-wrapper-text{
    color: white;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.social-wrapper-item{
    background-color: #005C94;
    padding: 0.75rem;
    max-height: 50px;
    cursor: pointer;
    width: 50px;
    max-width: 250px;
    height: 50px;
    overflow: hidden;
}

.social-wrapper-fb{
    background-color: #3B5998;
    padding: 0.75rem;
    max-height: 50px;
    width: 50px;
    max-width: 250px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
}

.social-wrapper-fb img{
    height: 25px;
}

.owl-theme .owl-dots .owl-dot.active span{
    background: #005C94!important;
}

.owl-theme .owl-dots .owl-dot:hover span{
    background: #005C94!important;
    opacity: 0.6;
}

.owl-dots{
    max-width: 1140px;
    margin: 0 auto;
    text-align: right!important;
}

.banner .owl-dots{
    text-align: center!important;
}

.about-us-title{
    font-size: 2rem;
    font-weight: bold;
}

.about-us-text{
    line-height: 30px;
}

.contact-us-box{
    margin-top: -100px;
}

.contact-us-box .card{
    height: auto;
}

.contact-us-box .card:after{
    display: none;
}

.contact-us-content{
    background-color: white;
}

.contact-us-title{
    font-weight: bold;
}

.contact-name{
    font-size: 1.125rem;
    font-weight: bold;
}

.color-gray{
    color: #676767;
}

.contact-icons a{
    font-size: 0.9rem;
    color: inherit;
}

.contact-icons a:hover{
    color: inherit;
}

.custom-control-label{
    font-size: 0.5rem;
}

.mapouter{
    position:relative;
    height:300px;
    text-align: right;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
}

.contact-title-under{
    font-size: 0.8rem;
}

header{
    position: relative;
}

.contact-us-form input, .contact-us-form textarea{
    background-color: #F7F7F7;
    border-radius: 0;
    border: 0;
}

.under-nav{
    background-image: url('../img/investment/white-modern-townhouses-in-germany-P52E3VN.png');
    height: 200px;
    position: relative;
    color: white;
    background-position: center;
    background-size: cover;
}

.under-nav span{
    z-index: 999;
}

.under-nav::after{
    background-color: #005C94;
    opacity: 0.9;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.item-icon{
    background-color: #005C94;
    width: 105px;
    height: 96px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.slider{
    background-color: #f2f2f2;
}

.under-heading{
    font-size: 1.25rem;
}

.left-side-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-box img{
    width: 50%;
    padding-bottom: 2rem;
}


.magic-grid div {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.magic-grid .item-grid:after{
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    content: " ";
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.magic-grid .item-grid:hover:after{
    opacity: 1;
}

.onhover{
    opacity: 1!important;
    z-index: 99;
}
  
.item-text-grid{
    position: absolute;
    color: white;
    opacity: 0;
}

.item-info-grid{
    color: #3F98CD;
}

.table-section{
    height: 600px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    border: 0;
}

.max-height{
    height: 100%!important;
}

.bottom-0{
    position: relative!important;
    bottom: -20px!important;
}

.max-initial{
    max-height: initial!important;
}

.table-section thead tr{
    background-color: #005C94;
    color: rgba(255, 255, 255, 0.8);
}

.table-section th{
    font-size: 1.125rem;
}

.table-section td{
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #dee2e6;
}

.table.dataTable tbody td{
    padding-bottom: 1rem;
    padding-top: 1.1rem;
    font-size: 1.125rem;
    color: #777777;
}

.table-section .container{
    max-height: 500px;
}

.table-section .btn-right-content-2{
    position: absolute;
    bottom: -100px;
    color: black;
    border-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.dataTables_wrapper{
    overflow: hidden;
    max-height: 500px;
}

.table-info-green{
    border-radius: 15px;
    background-color: #E9F8E9;
    color: #2FA12D;
    font-weight: 700;
    text-align: center;
    padding: 0.25rem;
}

.table-info-red{
    border-radius: 15px;
    background-color: #FFE4E3;
    color: #E32319;
    font-weight: 700;
    text-align: center;
    padding: 0.25rem;
}

.table-info-yellow{
    border-radius: 15px;
    background-color: #FFF5E7;
    color: #CC8325;
    font-weight: 700;
    text-align: center;
    padding: 0.25rem;
}

.investment-wrapper .owl-carousel .owl-nav{
    position: absolute;
    display: flex;
    top: 50%;
    justify-content: space-between;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1170px;
    left: 50%;
}

.investment-wrapper .owl-dots{
    position: absolute;
    bottom: 10%;
    left: 65%;
}

.investment-wrapper .owl-carousel .owl-nav button{
    border-radius: 50%!important;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.8)!important;
    display: flex!important;
    justify-content: center;
    border-color: black!important;
}

.investment-wrapper .owl-carousel .owl-nav button span{
    font-size: 2rem;
    color: white;
}

.slider .owl-carousel .owl-nav{
    position: absolute;
    display: flex;
    top: 50%;
    justify-content: space-between;
    transform: translateY(-50%);
    width: 100%;
    left: 0;
}

.slider .owl-carousel .owl-nav button{
    border-radius: 50%!important;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.8)!important;
    display: flex!important;
    justify-content: center;
    border-color: black!important;
}

.slider .owl-carousel .owl-nav button span{
    font-size: 2rem;
    color: white;
}

.owl-stage-outer{
    position: initial!important;
}

.slider{
    position: relative;
}

.icons-wrapper{
    background-color: #F5F5F5;
}

.img-left-content{
    position: relative;
}

.img-left-content:after{
    display: block;
    content: "";
    background-color: #005C94;
    width: 30%;
    height: 20px;
    position: absolute;
    bottom: -19px;
}

.left-content:after{
    display: block;
    content: "";
    background-color: #005C94;
    width: 30%;
    height: 20px;
    position: absolute;
    bottom: 0;
}

.icon-text{
    text-transform: uppercase;
    font-weight: 700;
    width: min-content;
    height: 100px;
    width: 170px;
}

.icon-img{
    height: 150px;
}

.card-text{
    color: #272727!important;
}

.index-wrapper .owl-dots{
    position: absolute;
    bottom: 40%;
    right: 25%;
}

.index-wrapper{
    position: relative;
}

.custom-font{
    color: #676767;
    line-height: 27px;
}

.interactive-banner{
    position: relative;
}

.interactive-banner .filter{
    position: relative;
    top: -100px;
    margin: 0 auto;
    left: 0;
    transform: initial;
}

.product-banner{
    background-color: #005C94;
}

.product-header{
    background-color: #005C94;
    color: white;
}

.product-card{
    position: relative;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.product-card_2{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.box-shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.product-info{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 90%;
    margin: 0 auto;
}

.product-info-header{
    color: #005C94;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 900;
}

.product-info-text{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    
}

.product-info-img{
    height: 100px;
}

.product-info-img img{
    max-width: 80%;
}

.product-description{
    color: #777777;
    text-transform: uppercase;
}

.product-description:nth-child(even){
    background-color: #FAFAFA;
}

.product-content .filter-button{
    max-width: 100%;
    margin-right: auto!important;
    margin: initial;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
}

.product-main{
    top: -100px;
    position: relative;
}

.zoom-in{
    background-color: #005C94;
    height: 50px;
    width: 50px;
    position: relative;
    top: -50px;
}

.product-description-img img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.owl-carousel{
    max-height: 600px;
}

.owl-carousel .owl-stage-outer{
    max-height: 600px;
}

.owl-carousel .owl-stage-outer .owl-stage{
    max-height: 600px;
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item{
    max-height: 600px;
}

@media(max-width: 1200px){
    .filter{
        top: 75%;
    }
}

@media(max-width: 992px){
    .items-banner{
        flex-direction: column;
    }
    .row-reverse{
        flex-direction: column-reverse;
        height: auto!important;
    }
    .banner .wrapper{
        height: 600px;
    }
    .banner-rent-2{
        top: 150px;
    }
    .btn-right-content-2{
        color: white;
        border-color: white;
    }

    .contact-footer{
        font-size: 11px;
    }
    .f-column{
        flex-direction: column;
        text-align: center;
    }
    /**/
    .filter{
        height: auto;
        top: 85%;
    }
    /**/
    .filter-inner{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .filter-area{
        max-width: inherit;
        flex-direction: row!important;
    }
    .filter-area-width{
        max-width: inherit;
    }
    main{
        padding-top: 500px
    }
    .rectangle-background{
        top: -500px;
    }
    .center-flex{
        justify-content: center!important;
    }
    .contact-us-box{
        margin-top: 0px;
    }
    .under-nav{
        height: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .custom-table-responsive{
        display: block;
        overflow-x: auto;
    }
    .item-name h1{
        font-size: 3rem;
    }
    .img-left-content:after{
        display: none;
    }
    footer{
        padding-top: 500px;
    }
    .interactive-banner .filter{
        top: 0;
    }
    .table-section{
        height: 700px;
        top: 50px;
    }
    .index-wrapper .owl-dots{
        bottom: 25%;
    }
    .icon-img{
        text-align: center;
    }
}

@media(max-width: 768px){
    footer{
        padding-top: 400px;
    }
    main{
        padding-top: 600px;
    }
    /**/
    .filter{
        top: 90%;
    }
    /**/
    .rectangle-background{
        top: -600px;
    }
    .item-name h1{
        font-size: 2.5rem;
    }
    .icons-column{
        width: 100%;
    }
    .item-content{
        font-size: 0.6rem;
    }
    .title-banner-item{
        font-size: 4rem;
    }
}

@media(max-width: 576px){
    .left-side-title-2{
        font-size: 1.5rem;
    }
    *,body{
        font-size: 0.9rem;
    }
    main{
        padding-top: 550px;
    }
    .filter-button{
        max-width: inherit;
        width: 100%;
    }
    .gmap_canvas iframe{
        width: 300px;
    }
    /**/
    .filter{
        top: 100%;
    }
    /**/
    .mapouter{
        text-align: center;
    }
    .column{
        flex-direction: column;
        text-align: right;
    }
    .item-name h1{
        font-size: 1.5rem;
    }
    .btn-header{
        padding: 0.25rem 0.5rem;
        font-size: 0.6rem;
    }
    .item-info{
        max-width: 70%;
    }
    .index-wrapper .owl-dots{
        bottom: 15%;
    }
    .product-main{
        top: 0;
    }
    .item-info{
        margin-right: initial;
    }
}
/**/
@media(min-width: 992px){
    .btn-right-content-2{
        border-color: black;
        color: black;
    }
}
/**/

@media(min-width: 768px) and (max-width: 992px){
    .left-content:after{
        display: none;
    }
    
}